# minute | hour | day of | month | day of | commands
#        |      | month  |       | week   |
*/5       *      *        *       *        /usr/local/bin/php -f /opt/nextcloud/cron.php > /dev/stdout 2>&1