name: "Nextcloud: Build & Publish Container Image"

on:
  push:
    branches:
      - main
    paths:
      - 'nextcloud/**'
      - '.github/workflows/build-container.yml'
      - '.github/workflows/build-nextcloud.yml'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  get-version:
    runs-on: ubuntu-24.04
    outputs:
      nextcloud: ${{ steps.nextcloud_version.outputs.NEXTCLOUD_VERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Extract NEXTCLOUD_VERSION from Dockerfile
        id: nextcloud_version
        run: |
          NEXTCLOUD_VERSION=$(grep -E '^ARG NEXTCLOUD_VERSION=' nextcloud/Dockerfile | cut -d '=' -f 2 | tr -d '"')
          echo "NEXTCLOUD_VERSION=$NEXTCLOUD_VERSION" >> $GITHUB_OUTPUT

  call-build-workflow:
    name: Build & Push
    needs: get-version
    uses: erhardtconsulting/images/.github/workflows/build-container.yml@main
    with:
      image: "nextcloud"
      dockerfile: "Dockerfile"
      tag: ${{ needs.get-version.outputs.nextcloud }}
      push: true
      push-docker: true
      push-quay: true
      latest: true
    secrets: inherit

  copy-to-old-registry:
    name: Copy to old registry
    needs:
      - get-version
      - call-build-workflow
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: "nextcloud"
      NEXTCLOUD_VERSION: ${{ needs.get-version.outputs.nextcloud }}

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          install: true

      - name: Pull image
        run: |
          docker pull ghcr.io/erhardtconsulting/${{ env.IMAGE_NAME }}:${{ env.NEXTCLOUD_VERSION }}

      - name: Log in to Docker Hub (as rootlogin)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: docker.io
          username: rootlogin
          password: ${{ secrets.DOCKERHUB_ROOTLOGIN_TOKEN }}

      - name: Push image to Docker Hub (as rootlogin)
        run: |
          docker buildx imagetools create \
            --tag docker.io/rootlogin/${{ env.IMAGE_NAME }}:${{ env.NEXTCLOUD_VERSION }} \
            --tag docker.io/rootlogin/${{ env.IMAGE_NAME }}:latest \
            ghcr.io/erhardtconsulting/${{ env.IMAGE_NAME }}:${{ env.NEXTCLOUD_VERSION }}

      - name: Log in to Quay.io (as rootlogin)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: quay.io
          username: rootlogin+github
          password: ${{ secrets.QUAYIO_ROOTLOGIN_TOKEN }}

      - name: Push image to Quay.io (as rootlogin)
        run: |
          docker buildx imagetools create \
            --tag quay.io/rootlogin/${{ env.IMAGE_NAME }}:${{ env.NEXTCLOUD_VERSION }} \
            --tag quay.io/rootlogin/${{ env.IMAGE_NAME }}:latest \
            ghcr.io/erhardtconsulting/${{ env.IMAGE_NAME }}:${{ env.NEXTCLOUD_VERSION }}