name: "ArgoCD: Build & Publish Container Image"

on:
  push:
    branches:
      - main
    paths:
      - 'argocd/**'
      - '.github/workflows/build-argocd.yml'
      - '.github/workflows/build-container.yml'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  get-version:
    runs-on: ubuntu-24.04
    outputs:
      argocd: ${{ steps.argocd-version.outputs.ARGOCD_VERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Extract ARGOCD_VERSION from Dockerfile
        id: argocd-version
        run: |
          ARGOCD_VERSION=$(grep -E '^FROM quay.io/argoproj/argocd:v[0-9]+\.[0-9]+\.[0-9]+' argocd/Dockerfile | sed -E 's|.*argocd:v([0-9]+\.[0-9]+\.[0-9]+).*|\1|')
          echo "ARGOCD_VERSION=$ARGOCD_VERSION" >> $GITHUB_OUTPUT

  call-build-workflow:
    name: Build & Push
    needs: get-version
    uses: erhardtconsulting/images/.github/workflows/build-container.yml@main
    with:
      image: "argocd"
      dockerfile: "Dockerfile"
      tag: ${{ needs.get-version.outputs.argocd }}
      push: true
      push-docker: false
      push-quay: false
      latest: true
    secrets: inherit