name: "FreshRSS: Build & Publish Container Image"

on:
  push:
    branches:
      - main
    paths:
      - 'freshrss/**'
      - '.github/workflows/build-freshrss.yml'
      - '.github/workflows/build-container.yml'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  get-version:
    runs-on: ubuntu-24.04
    outputs:
      freshrss: ${{ steps.freshrss_version.outputs.FRESHRSS_VERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Extract FRESHRSS_VERSION from Dockerfile
        id: freshrss_version
        run: |
          FRESHRSS_VERSION=$(grep -E '^ARG FRESHRSS_VERSION=' freshrss/Dockerfile | cut -d '=' -f 2 | tr -d '"')
          echo "FRESHRSS_VERSION=$FRESHRSS_VERSION" >> $GITHUB_OUTPUT

  call-build-workflow:
    name: Build & Push
    needs: get-version
    uses: erhardtconsulting/images/.github/workflows/build-container.yml@main
    with:
      image: "freshrss"
      dockerfile: "Dockerfile"
      tag: ${{ needs.get-version.outputs.freshrss }}
      push: true
      latest: true
    secrets: inherit