name: "Nextcloud: Build Docker Image / Pull Request"

on:
  pull_request:
    branches:
      - main
    paths:
      - 'nextcloud/**'
      - '.github/workflows/build-container.yml'
      - '.github/workflows/build-nextcloud-pr.yml'

permissions:
  contents: read
  packages: write

jobs:
  get-version:
    runs-on: ubuntu-24.04
    outputs:
      nextcloud: ${{ steps.nextcloud_version.outputs.NEXTCLOUD_VERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Extract NEXTCLOUD_VERSION from Dockerfile
        id: nextcloud_version
        run: |
          NEXTCLOUD_VERSION=$(grep -E '^ARG NEXTCLOUD_VERSION=' nextcloud/Dockerfile | cut -d '=' -f 2 | tr -d '"')
          echo "NEXTCLOUD_VERSION=$NEXTCLOUD_VERSION" >> $GITHUB_OUTPUT

  call-build-workflow:
    name: Build & Push
    needs: get-version
    uses: erhardtconsulting/images/.github/workflows/build-container.yml@main
    with:
      image: "nextcloud"
      dockerfile: "Dockerfile"
      tag: ${{ needs.get-version.outputs.nextcloud }}
      push: false
      push-docker: false
      push-quay: false
    secrets: inherit